// Noto Sans KR
@font-face {
  font-family: 'Noto Sans KR';
  src: local('Noto Sans KR');
  src: url('../fonts/Noto_Sans_KR/NotoSansKR-Thin.woff') format('woff');
  font-style: normal;
  font-weight: 100;
  font-display: block;
}

@font-face {
  font-family: 'Noto Sans KR';
  src: local('Noto Sans KR');
  src: url('../fonts/Noto_Sans_KR/NotoSansKR-Light.woff') format('woff');
  font-style: normal;
  font-weight: 300;
  font-display: block;
}

@font-face {
  font-family: 'Noto Sans KR';
  src: local('Noto Sans KR');
  src: url('../fonts/Noto_Sans_KR/NotoSansKR-Regular.woff') format('woff');
  font-style: normal;
  font-weight: 400;
  font-display: block;
}

@font-face {
  font-family: 'Noto Sans KR';
  src: local('Noto Sans KR');
  src: url('../fonts/Noto_Sans_KR/NotoSansKR-Medium.woff') format('woff');
  font-style: normal;
  font-weight: 500;
  font-display: block;
}

@font-face {
  font-family: 'Noto Sans KR';
  src: local('Noto Sans KR');
  src: url('../fonts/Noto_Sans_KR/NotoSansKR-Bold.woff') format('woff');
  font-style: normal;
  font-weight: 700;
  font-display: block;
}

@font-face {
  font-family: 'Noto Sans KR';
  src: local('Noto Sans KR');
  src: url('../fonts/Noto_Sans_KR/NotoSansKR-Black.woff') format('woff');
  font-style: normal;
  font-weight: 900;
  font-display: block;
}

// Noto Sans SC
@font-face {
  font-family: 'Noto Sans SC';
  src: local('Noto Sans SC');
  src: url('../fonts/Noto_Sans_SC/NotoSansSC-Thin.woff') format('woff');
  font-style: normal;
  font-weight: 100;
  font-display: block;
}

@font-face {
  font-family: 'Noto Sans SC';
  src: local('Noto Sans SC');
  src: url('../fonts/Noto_Sans_SC/NotoSansSC-Light.woff') format('woff');
  font-style: normal;
  font-weight: 300;
  font-display: block;
}

@font-face {
  font-family: 'Noto Sans SC';
  src: local('Noto Sans SC');
  src: url('../fonts/Noto_Sans_SC/NotoSansSC-Regular.woff') format('woff');
  font-style: normal;
  font-weight: 400;
  font-display: block;
}

@font-face {
  font-family: 'Noto Sans SC';
  src: local('Noto Sans SC');
  src: url('../fonts/Noto_Sans_SC/NotoSansSC-Medium.woff') format('woff');
  font-style: normal;
  font-weight: 500;
  font-display: block;
}

@font-face {
  font-family: 'Noto Sans SC';
  src: local('Noto Sans SC');
  src: url('../fonts/Noto_Sans_SC/NotoSansSC-Bold.woff') format('woff');
  font-style: normal;
  font-weight: 700;
  font-display: block;
}

@font-face {
  font-family: 'Noto Sans SC';
  src: local('Noto Sans SC');
  src: url('../fonts/Noto_Sans_SC/NotoSansSC-Black.woff') format('woff');
  font-style: normal;
  font-weight: 900;
  font-display: block;
}
