* {
  box-sizing: border-box;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
}

html {
  background-color: $white;
  font-family: $font-main;
  font-size: $font-size-14;
}

body {
  font-family: $font-main;
  image-rendering: -webkit-optimize-contrast;
}

body ::before,
body ::after {
  image-rendering: -webkit-optimize-contrast;
}

body,
button,
input,
select,
th,
td,
textarea {
  background: transparent;
  font-family: $font-main;
  font-size: 14px;
  line-height: $line-height-10;
}

h1,
h2,
h3,
h4,
p,
strong {
  font-size: 100%;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;

  &:hover,
  &:active,
  &:focus {
    cursor: pointer;
    outline: none;
    text-decoration: none;
  }

  &:link,
  &:visted {
    color: inherit;
    text-decoration: none;
  }

  &[href^='tel'] {
    color: inherit;
    text-decoration: inherit;
  }
}

button {
  background-color: transparent;
  border: 0 none;
  cursor: pointer;
  font-family: $font-main;
  vertical-align: middle;

  + button {
    margin-left: 10px;
  }
}

button,
input,
select,
textarea {
  background-color: transparent;
  border: 0 none;
  cursor: pointer;

  &:focus {
    box-shadow: none;
    outline: none;
  }
}

ol,
ul,
li {
  list-style: none;
  list-style-image: none;
  list-style-type: none;
  margin-bottom: 0;
}

q {
  quotes: none;

  ::before,
  ::after {
    content: none;
  }
}

blockquote {
  quotes: none;

  ::before,
  ::after {
    content: none;
  }
}

input,
select,
textarea {
  font-family: $font-main;
  vertical-align: middle;
}

table {
  border: 0 none;
  border-collapse: collapse;
  border-spacing: 0;
  vertical-align: baseline;
}

input:focus,
select:focus {
  outline: none;
}

// input
input::-webkit-input-placeholder {
  @include font-common-normal;
  color: $placeholder;
}

input:-ms-input-placeholder {
  @include font-common-normal;
  color: $placeholder;
}

input::placeholder {
  @include font-common-normal;
  color: $placeholder;
}

// input[type='text']
input[type='text']::-webkit-input-placeholder {
  @include font-common-normal;
  color: $placeholder;
}

input[type='text']::-moz-placeholder {
  @include font-common-normal;
  color: $placeholder;
}

input[type='text']:-ms-input-placeholder {
  @include font-common-normal;
  color: $placeholder;
}

input[type='text']::placeholder {
  @include font-common-normal;
  color: $placeholder;
}

// input_type2.tit_summernote
.input_type2.tit_summernote::-webkit-input-placeholder {
  @include font-common-normal;
}

.input_type2.tit_summernote::-moz-placeholder {
  @include font-common-normal;
}

.input_type2.tit_summernote:-ms-input-placeholder {
  @include font-common-normal;
}

.input_type2.tit_summernote::placeholder {
  @include font-common-normal;
}

input:checked[type='checkbox'] {
  -moz-appearance: checkbox;
  -webkit-appearance: checkbox;
  appearance: checkbox;
}

input[type='text'],
input[type='password'],
input[type='submit'],
input[type='search'],
input[type='tel'],
input[type='email'],
input[type='button'],
input[type='reset'] {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0;
}

input[type='search']::-webkit-search-cancel-button {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

textarea {
  background-color: transparent;
  border: 0 none;
  font-family: $font-main;
  outline: none;
  resize: none;
}

label {
  cursor: pointer;
}

select {
  border: 0 none;
  filter: alpha('opacity=0');
  font-family: $font-main;
  height: auto;
  line-height: normal;
  width: 100%;

  ::-ms-expand {
    display: none;
  }
}

label,
figure,
caption {
  border: 0 none;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

br {
  font-family: 'Dotum';
  line-height: $line-height-10;
}
