// input_type1
.input_type1 {
  @include font-common-normal;
  background-color: $white;
  border: 1px solid $border;
  color: $primary;
  font-size: $font-size-14;
  height: 20px;
  margin-top: 15px;
  outline: 0;
  padding: 18px 12px;
  width: 100%;

  + label {
    margin-top: 15px;
  }
}

// input_type2
.input_type2 {
  @include font-common-normal;
  background-color: $white;
  border: 1px solid $border;
  box-sizing: border-box;
  color: $primary;
  height: 20px;
  line-height: $line-height-12;
  outline: 0;
  padding: 18px 12px;
  width: 100%;

  &.tit_summernote {
    @include font-bigger-normal;
    border-radius: 3px;
    line-height: 14px;
    margin-left: -3px;
    width: calc(100% - 50px);
  }
}

// input_type3
.input_type3 {
  @include font-common-normal;
  background-color: $white;
  border: 1px solid $border;
  color: $primary;
  height: 20px;
  margin: 0;
  max-width: 300px;
  outline: 0;
  padding: 18px 12px;
  width: 100%;

  &:active,
  &:hover,
  &:focus {
    border: 1px solid $primary;
  }
}

.wrap_datesrch {
  display: inline-block;
  margin-bottom: 15px;
  max-width: 1600px;
  position: relative;
  width: 100%;
}

.input_checkbox {
  height: 100%;
  width: 100%;
}
