$primary: #4c4c4c;
$secondary: #333;
$tertiary: #555;

$placeholder: #7f7f7f;
$border: #ddd;
$grey: #d9d9d9;
$light-grey: #f1f1f1;
$bg-grey: #f2f2f2;

$blue: #0070c0;
$switch: #2196f3;
$sortable: #e6f1fe;
$red: #c22d2d;

$black: #000;
$white: #fff;
